<div class="container my-5">
    <h1 class="mb-3"> Edit Candidate</h1>
    
    <div class="row">
        <div class="col-6">
            <form #form = "ngForm" (ngSubmit)="updateCandidate()">
                <div class="mb-3">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control" id="id" name="id" readonly [(ngModel)] = "candidateDetails.id">
                  </div>
                <div class="mb-3">
                  <label for="fname" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="fname" name="fname" [(ngModel)] = "candidateDetails.firstName">
                </div>
                <div class="mb-3">
                    <label for="lname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lname" name="lname" [(ngModel)] = "candidateDetails.lastName">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)] = "candidateDetails.email">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone number</label>
                    <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)] = "candidateDetails.phone">
                </div>
                <div class="mb-3">
                    <label for="department" class="form-label">Department</label>
                    <input type="text" class="form-control" id="department" name="department" [(ngModel)] = "candidateDetails.department">
                </div>
                
                <button type="submit" class="btn btn-primary px-5">Submit</button>
                <button type="submit" class="btn btn-primary px-5 offset-sm-1" (click)="deleteCandidate(candidateDetails.id)">Delete</button>
            </form>
        </div>
    </div>
</div>